[Unit]
Description=WireGuard DynDNS watchdog
Requires=systemd-networkd.service

[Service]
ExecStart=/usr/bin/dynwgd

[Install]
WantedBy=network.target