[Unit]
Description=WireGuard DynDNS watchdog
Requires=systemd-networkd.service

[Service]
ExecStart=/usr/bin/dynwgd %i
Restart=on-failure

[Install]
WantedBy=network.target